.imgsadqah{
    padding: 50px 0px;
    height: 350px ;
    width: 1365px;
}
.para{
    font-size: 16px;
    font-weight: lighter;
    padding: 0px 110px;
}
.pusefullinkssadqah{
    color: white;
    font-weight: bold;
    font-size: 20px;
   position: absolute;
   left: 530px;
   top: 780px;
 }
 .pusefullinks1sadqah{
    color: green;
    font-weight: bold;
    font-size: 20px;
   position: absolute;
   left: 530px;
   top: 800px;
 }
 .pusefullinks2sadqah{
    color:darkslategrey;
    font-weight: bold;
    font-size: 20px;
   position: absolute;
   left: 580px;
   top: 800px;
 }
 .pconnectsadqah{
    color: white;
    font-weight: bold;
    font-size: 20px;
   position: absolute;
   left: 920px;
   top: 780px;
 }
 .imgfacebooksadqah{
    position: absolute;
    top: 810px;
    left: 920px;
    height: 20px;
    width: 20px;
}
.imgtwittersadqah{
   position: absolute;
   top: 810px;
   left: 950px;
   height: 20px;
   width: 20px;
}
.imginstagramsadqah{
   position: absolute;
   top: 810px;
   left: 980px;
   height: 20px;
   width: 20px;
}
.imgyoutubesadqah{
   position: absolute;
   top: 810px;
   left: 1010px;
   height: 20px;
   width: 20px;
}

.imgphone1sadqah{
    background-color:silver;
      height: 16px;
      width: 16px;
      position: absolute;
      left: 102px;
      top: 870px;
  }
  .imgphone2sadqah{
     background-color:silver;
       height: 16px;
       width: 16px;
       position: absolute;
       left: 102px;
       top: 900px;
   }
   .imgphone3sadqah{
     background-color:silver;
       height: 16px;
       width: 16px;
       position: absolute;
       left: 102px;
       top: 930px;
   }
   .imgphone4sadqah{
     background-color:silver;
       height: 16px;
       width: 16px;
       position: absolute;
       left: 102px;
       top: 960px;
   }
   .imgmessagesadqah{
     background-color:silver;
     height: 16px;
     width: 16px;
     position: absolute;
     left: 102px;
     top: 990px;
   }